body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  color: rgb(233, 205, 196);
}

button {
  color: rgb(169, 42, 42);
}

.editor,
.viewer {
  padding: 10rem;
  overflow-y: scroll;
  height: 60vh;
}

.navButtonContainer {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 5.5px;
}

::-webkit-scrollbar-track {
  background: #101010;
}

::-webkit-scrollbar-thumb {
  background: #da6d6d;
}

::-webkit-scrollbar-thumb:hover {
  background: #cf76ff;
}
